@(addresses: List[io.adeptus.whatismyip.models.Address], mode: String)

@main("Welcome to Play") {
<div class="jumbotron">
  <h1>Adeptus IP History</h1>
  <p class="lead">
  	@if(addresses == null) {
  		No IP address has been registered!
  	} else {
  		IP <strong>@addresses(0).ipAddress</strong> was recorded at <strong>@addresses(0).created.format("yyyy-MM-dd HH:mm:ss")</strong>.</p>
  	}
  	
  <hr class="my-4">
  <p class="lead">Application running in <strong>@mode</strong> mode.</p>
  
</div>
  
  Your IP address history is:
  
  <table class="table table-sm table-striped table-bordered">
  	<thead>
  		<tr>
  			<th>IP</th>
  			<th>Created</th>
  		</tr>
  	</thead>
  	<tbody>
  	
  	@for(address <- addresses) {
  		<tr>
  			<td>@address.ipAddress</td>
  			<td>@address.created.format("yyyy-MM-dd HH:mm:ss")</td>
  		</tr>
  	}
  	</tbody>
  </table>
}
